* {
    text-decoration: none;
}

body {
    background-color: #bebebe;
    margin: 0;
}

nav {
    background-color: rgb(230, 225, 225);
    height: 10vh;
    display: flex;
    align-items: center;
}

nav ul {
    list-style-type: none;
    align-items: center;
    display: flex;
}

nav ul li {
    margin-right: 10%;
}

.nav-left {
    flex: 50%;
    color: black;
}

.nav-left a {
    color: black;
}

.nav-left a:hover {
    font-weight: bold;
}

.nav-right {
    flex: 50%;
    text-align: end;
}

.nav-right a {
    background-color: #1f1e1e;
    border-radius: 9px;
    color: white;
    padding: 5px 10px;
    margin-left: 450px;
}

p {
    text-align: justify;
}

div.container {
    display: flex;
    background-color: white;
    width: auto;
    height: 450px;
    margin: 30px 100px;
    padding: 30px 150px;
    border-radius: 5px 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.body-left {
    flex: 50%;
    margin-top: 50px;
}

.icon {
    display: flex;
}

.icon-left {
    margin-left: 2.5%;
    flex:40%;
}
.icon-right {
    margin-right: 40%;
    flex:60%
}

.card {
    width: auto;
    height: 450px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin: auto;
    border: none;
    margin-left: 70px;
    border-radius: 10px 10px 0 0;
    padding-bottom: 3px;
    flex: 50%;
    background-color: white;
}

